<h1>{{title}}</h1>
<p>userform works!</p>
<input [(ngModel)]="user.name">
<input [(ngModel)]="user.age" placeholder="age" type="number">
<input type="date" [(ngModel)] = 'user.dob'>


<button (click)='save()'>Save</button>
<table>
  <thead>
    <td>Firstname</td>
    <td>Age</td>
    <td>Dob</td>

  </thead>
  <tbody>
    <tr *ngFor='let user of userArray; index as i'>
      <td><a [href]='user.name'>{{user.name}}</a></td>
      <td >{{user.age}}</td>
      <td>{{user.dob | date: 'M/d/yy'}}</td>
      <td><button (click)='this.deleteUser(user.id, i)'>X</button></td>
    </tr>
  </tbody>
</table>
